################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/VSWorkspaceState.json
/.vs/intraday/v16/TestStore/0/testlog.manifest
/.vs/intraday/v16/TestStore/0/000.testlog
